# GIT IGNORE FILE

o
Makefile
Makefile.*
libsensor/Makefile.libsensor
qmake
lib
bin
*.o
*.a
moc_*.cpp
*.user
qt-components-desktop/components/plugin
qt-components-desktop/qmldesktopviewer/debug/
qt-components-desktop/qmldesktopviewer/qmldesktopviewer
qmake.*
django-admin.py
*.pyc
bluuserver.db
*.pro.user.*
