# GIT IGNORE FILE

Makefile
Makefile.*
libsensor/Makefile.libsensor
qmake
lib
bin
*.o
moc_*.cpp
*.user
qt-components-desktop/components/plugin
qt-components-desktop/qmldesktopviewer/debug/
qt-components-desktop/qmldesktopviewer/qmldesktopviewer
