{% extends "bluusites/site_base.html" %}
{% load i18n theme_tags grontextual_tags %}

{% block sidebar %}
  {% get_uog_perms request.user for bluusite as "site_perms" %}
    <div class="box">
      <h4 class="box-heading">
        {% trans "Device" %}: {{ device.serial }}
      </h4>
      <ul class="nav nav-list">
        {% if perms.bluusites.change_bluusite or "change_bluusite" in site_perms %}
          <li class="{% active request "^/sites/\d+/devices" %}"><a href="{% url 'devices:device_list' bluusite.pk %}">{% trans "Device management" %}</a></li>
          <li class="{% active request "^/sites/\d+/devices/$" %}"><a href="{% url 'devices:device_list' bluusite.pk %}">{% trans "Device configuration" %}</a></li>
          <li class="{% active request "^/sites/\d+/devices/$" %}"><a href="{% url 'devices:device_list' bluusite.pk %}">{% trans "History" %}</a></li>
        {% endif %}
       </ul>
     </div>
{% endblock sidebar %}
