{% extends "devices/devices_base.html" %}
{% load i18n crispy_forms_tags grontextual_tags theme_tags devices_tags %}

{% block title %}
    {% trans 'Devices Management' %} |
{% endblock %}

{% block breadcrumbs %}
{% bluusites_breadcrumb %}<a href="{% url "site_edit" bluusite.pk %}">{{ bluusite.get_name }}</a> &gt; {% trans "Devices management" %}
{% endblock breadcrumbs %}


{% block page-title %}
    {% trans "Devices Management" %}
{% endblock %}


{% block main %}
{{ block.super }}
{% get_uog_perms request.user for bluusite as "bluusite_perms" %}

{% if perms.bluusites.add_device or "add_device" in bluusite_perms %}
    <ul class="nav nav-pills">
        <li>
            <a href="{% url 'site_devices:device_add' bluusite.pk %}">{% trans "Add Device" %}</a>
        </li>
    </ul>
{% endif %}
<div class="masonry-container">
    {% for device_type in device_types %}
        {% comment %}{% if not forloop.counter|divisibleby:2 %}
        <div class="row-fluid">
        {% endif %}{% endcomment %}
            <div class="masonry-box span5">
                {% devices_of_type bluusite device_type %}
            </div>
        {% comment %}
        {% if forloop.counter|divisibleby:2 or forloop.last %}
        </div>
        {% endif %}{% endcomment %}
    {% empty %}
        <p>{% trans "No devices in this site." %}</p>
    {% endfor %}
 </div>
{% endblock %}

{% block js_compress %}
<script src="{{ STATIC_URL }}theme/components/jquery-masonry/jquery.masonry.min.js"></script>
{% endblock js_compress %}

{% block javascript %}
  {{ block.super }}
  <script charset="utf-8" type="text/javascript">

  $(document).ready(function() {
    $('.masonry-container').masonry({
        // options
        itemSelector : '.masonry-box',
        isAnimated: true,
        columnWidth : function (containerWidth){
            var width = $('.masonry-container').width();
            console.log(width);
			var col = width / 2;
            return col;
        }
    });
  });
  </script>
{% endblock javascript %}