{% extends "devices/devices_base.html" %}
{% load i18n crispy_forms_tags grontextual_tags theme_tags devices_tags %}

{% block title %}
    {% trans 'Devices Management' %} |
{% endblock %}

{% block breadcrumbs %}
{% bluusites_breadcrumb %}<a href="{% url "site_edit" bluusite.pk %}">{{ bluusite.get_name }}</a> &gt; {% trans "Devices management" %}
{% endblock breadcrumbs %}


{% block page-title %}
    {% trans "Devices Management" %}
{% endblock %}


{% block main %}
{{ block.super }}
{% get_uog_perms request.user for bluusite as "bluusite_perms" %}

{% if perms.bluusites.add_device or "add_device" in bluusite_perms %}
    <ul class="nav nav-pills">
        <li>
            <a href="{% url 'devices:device_add' bluusite.pk %}">{% trans "Add Device" %}</a>
        </li>
    </ul>
{% endif %}
    {% for device_type in device_types %}
        {% if not forloop.counter|divisibleby:2 %}
        <div class="row-fluid">
        {% endif %}
            <div class="span6">
                {% devices_of_type bluusite device_type %}
            </div>
        {% if forloop.counter|divisibleby:2 or forloop.last %}
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}
