/* line 3, ../sass/login.scss */
html, body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  width: 100%;
  height: 100%;
}

/* line 11, ../sass/login.scss */
body {
  background-image: url(../img/bg.jpg);
}

/* line 15, ../sass/login.scss */
.round-input {
  width: 100%;
  height: 46px;
  border: solid 1px #6d6f71;
  text-indent: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #666767;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}

/* line 27, ../sass/login.scss */
.loginform .control-group {
  margin: 10px auto 10px auto;
}

/* line 30, ../sass/login.scss */
.loginbutton:hover {
  cursor: pointer;
  color: #CCC;
  background-color: #004066;
}

/* line 35, ../sass/login.scss */
.loginbutton {
  background-color: #0065A4;
  border: medium none;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  color: #FFFFFF;
  font-family: "Lato",Arial,Helvetica,sans-serif;
  font-size: 20px;
  height: 46px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: 10px auto 10px auto;
}

/* line 49, ../sass/login.scss */
.resetme a:hover {
  color: #333;
}

/* line 52, ../sass/login.scss */
.resetme a {
  text-align: center;
  color: #666767;
  text-transform: uppercase;
  font-family: "Lato",Arial,Helvetica,sans-serif;
}

/* line 58, ../sass/login.scss */
.copyrights {
  bottom: 20px;
  color: #666767;
  font-family: "Lato",Arial,Helvetica,sans-serif;
  font-size: 15px;
  left: 20px;
  position: fixed;
}

/* line 67, ../sass/login.scss */
.alert {
  background-color: #FCF8E3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  font-family: "Lato",Arial,Helvetica,sans-serif;
  font-size: 15px;
  margin: 20px auto;
  padding: 12px 35px 12px 14px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* line 78, ../sass/login.scss */
.alert-danger, .alert-error {
  background-color: #F2DEDE;
  border-color: #cd4a66;
  color: #B94A48;
}

/* line 83, ../sass/login.scss */
.login-logo img {
  width: 100%;
  height: auto;
  max-width: 482px;
}

/* line 89, ../sass/login.scss */
.loginform {
  max-width: 600px;
  width: 60%;
}

@media (max-width: 767px) {
  /* line 95, ../sass/login.scss */
  .loginform {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 101, ../sass/login.scss */
  .loginform {
    width: 60%;
  }
}
