/* line 4, ../sass/style.scss */
.gridStyle {
  height: 1400px;
}

/* line 8, ../sass/style.scss */
.ngFooterPanel {
  border: 0;
}

/* line 12, ../sass/style.scss */
.ngGrid {
  background-color: transparent;
}

/* line 16, ../sass/style.scss */
.ngRow {
  border: 0;
}

/* line 21, ../sass/style.scss */
.ngCell:last-child {
  border-right: 0;
}

/* line 31, ../sass/style.scss */
.box {
  margin: 10px;
}

/* line 35, ../sass/style.scss */
footer {
  background-color: #F5F5F5;
  border-top: 1px solid #e5e5e5;
  margin-top: 70px;
  padding: 70px 0;
}
