/* line 8, ../sass/style.scss */
.dataTables_wrapper .table td.center {
  text-align: center;
}

/* line 12, ../sass/style.scss */
.gridStyle {
  height: 400px;
}

/* line 17, ../sass/style.scss */
.ngFooterPanel {
  border: 0;
}

/* line 21, ../sass/style.scss */
.ngGrid {
  background-color: transparent;
}

/* line 25, ../sass/style.scss */
.ngRow {
  border: 0;
}

/* line 30, ../sass/style.scss */
.ngCell:last-child {
  border-right: 0;
}

/* line 35, ../sass/style.scss */
form input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}

/* line 38, ../sass/style.scss */
form input.ng-valid.ng-dirty {
  background-color: #78FA89;
}

/* line 43, ../sass/style.scss */
.navbar a.brand {
  padding: 5px 10px;
}

/*.info {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    @include border-radius(4px, 4px);
}*/
/* line 57, ../sass/style.scss */
.box {
  margin: 15px 0;
}

/* line 61, ../sass/style.scss */
.box-heading {
  margin: 20px 0px;
}

/* line 65, ../sass/style.scss */
.detail-box {
  margin: -15px 0 15px 0;
}

/* line 69, ../sass/style.scss */
.detail {
  color: #999999;
  font-size: 10px;
}

/* line 74, ../sass/style.scss */
footer {
  background-color: #F5F5F5;
  border-top: 1px solid #e5e5e5;
  margin-top: 70px;
  padding: 70px 0;
}

/* highlight remove icon */
/* line 83, ../sass/style.scss */
.datatable td:hover > a > [class^="icon-"],
.datatable td:hover > a > [class*=" icon-"] {
  background-image: url(../components/sass-twitter-bootstrap/docs/assets/img/glyphicons-halflings-white.png);
}

/* end highlight remove icon */
/* Access Management */
/* line 89, ../sass/style.scss */
.inline-list {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

/* line 95, ../sass/style.scss */
.inline-box {
  float: left;
  margin: 1px 5px 0 0;
  padding: 2px 4px 1px;
}

/* line 101, ../sass/style.scss */
.clickable {
  cursor: pointer;
}

/* line 105, ../sass/style.scss */
.box-on {
  color: #FFF;
  background-color: #0088CC;
  border: 1px solid #0088cc;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}

/* line 112, ../sass/style.scss */
.box-off {
  color: #33BBFF;
  background-color: none;
  border: 1px solid #33bbff;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}

/* End Access Management */
/* Devices Management */
/* line 122, ../sass/style.scss */
.nested-nav-list {
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 0;
}

/* End Devices Management */
/* twitter bootstrap for datatables */
/* line 130, ../sass/style.scss */
div.dataTables_length label {
  float: left;
  text-align: left;
}

/* line 135, ../sass/style.scss */
div.dataTables_length select {
  width: 75px;
}

/* line 139, ../sass/style.scss */
div.dataTables_filter label {
  float: right;
}

/* line 143, ../sass/style.scss */
div.dataTables_info {
  padding-top: 8px;
}

/* line 147, ../sass/style.scss */
div.dataTables_paginate {
  float: right;
  margin: 0;
}

/* line 152, ../sass/style.scss */
table.table {
  clear: both;
  margin-bottom: 6px !important;
  max-width: none !important;
}

/* line 162, ../sass/style.scss */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}

/* line 167, ../sass/style.scss */
table.table thead .sorting {
  background: url(../components/datatables/media/images/sort_both.png) no-repeat center right;
}

/* line 168, ../sass/style.scss */
table.table thead .sorting_asc {
  background: url(../components/datatables/media/images/sort_asc.png) no-repeat center right;
}

/* line 169, ../sass/style.scss */
table.table thead .sorting_desc {
  background: url(../components/datatables/media/images/sort_desc.png) no-repeat center right;
}

/* line 171, ../sass/style.scss */
table.table thead .sorting_asc_disabled {
  background: url(../components/datatables/media/images/sort_asc_disabled.png) no-repeat center right;
}

/* line 172, ../sass/style.scss */
table.table thead .sorting_desc_disabled {
  background: url(../components/datatables/media/images/sort_desc_disabled.png) no-repeat center right;
}

/* end twitter bootstrap for datatables */
/* monitor module */
/* line 181, ../sass/style.scss */
.monitor .icon {
  padding: 5px 15px;
}

/* line 185, ../sass/style.scss */
.monitor .title {
  display: block;
  float: right;
  margin-top: 40px;
  padding: 0 15px;
  text-transform: uppercase;
  color: #686868;
}

/* line 194, ../sass/style.scss */
.monitor .bd {
  border: 2px solid #dfe11e;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  padding: 15px 10px;
}

/* line 200, ../sass/style.scss */
.monitor tr {
  border-bottom: 1px dashed #dbdbdb;
}

/* line 204, ../sass/style.scss */
.monitor td.action {
  width: 20%;
  min-width: 50px;
}

/* line 209, ../sass/style.scss */
.monitor td.status {
  width: 5%;
}

/* line 213, ../sass/style.scss */
.monitor td.name {
  width: 35%;
}

/* line 217, ../sass/style.scss */
.circle {
  width: 10px;
  height: 10px;
  margin: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 224, ../sass/style.scss */
.online {
  background-color: #588fac;
}

/* line 228, ../sass/style.scss */
.offline {
  background-color: red;
}

/* line 232, ../sass/style.scss */
.center {
  text-align: center;
}

/* alert configuration */
/* line 237, ../sass/style.scss */
.alert_cfg {
  width: 100%;
}
/* line 240, ../sass/style.scss */
.alert_cfg .alert_params {
  min-width: 200px;
  height: 50px;
}
/* line 245, ../sass/style.scss */
.alert_cfg .alert_params .description {
  float: left;
  max-width: 220px;
}
/* line 250, ../sass/style.scss */
.alert_cfg .alert_params .config {
  width: 150px;
  float: left;
}
/* line 254, ../sass/style.scss */
.alert_cfg .alert_params .outer {
  position: relative;
  height: 50px;
}
/* line 258, ../sass/style.scss */
.alert_cfg .alert_params .inner {
  display: table;
}
/* line 260, ../sass/style.scss */
.alert_cfg .alert_params .inner p {
  display: table-cell;
  vertical-align: middle;
}
/* line 265, ../sass/style.scss */
.alert_cfg .alert_params .inner-left {
  position: absolute;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}
/* line 272, ../sass/style.scss */
.alert_cfg .alert_params .inner-right {
  position: absolute;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  left: 225px;
}
/* line 280, ../sass/style.scss */
.alert_cfg .notifications {
  width: 100px;
}
/* line 283, ../sass/style.scss */
.alert_cfg .notifications .notification_wrapper {
  margin-top: -10px;
}
/* line 287, ../sass/style.scss */
.alert_cfg .notifications .notification {
  float: left;
  width: 50px;
  text-align: center;
}

/* line 295, ../sass/style.scss */
.input-mili {
  width: 30px;
  text-align: right;
}
