[buildout]
parts = django omlette
unzip = true
versions = versions
extensions = mr.developer
auto-checkout = *
always-checkout = true

[versions]
psycopg2 = 2.4.1
django_compressor = dev

[sources]
django = git https://github.com/django/django.git
django-registration = hg https://restless_being@bitbucket.org/restless_being/django-registration-1.5
django-guardian = git https://github.com/lukaszb/django-guardian.git
django-braces = git https://github.com/brack3t/django-braces.git
django-debug-toolbar = git https://github.com/django-debug-toolbar/django-debug-toolbar.git
django-mailer = git https://github.com/pinax/django-mailer.git
django_compressor = git https://github.com/jezdez/django_compressor.git branch=develop
easy_thumbnails = git https://github.com/SmileyChris/easy-thumbnails.git
django-datatables-view = git https://restless_being@bitbucket.org/pigletto/django-datatables-view.git

[django]
recipe = djangorecipe
project = project
initialization =
    import os
    os.environ['DJANGO_SETTINGS_MODULE'] = '${django:project}.${django:settings}'

eggs =
     Pillow
     ipython
     south
     easy_thumbnails
     django-debug-toolbar
     django-extensions
     django_compressor
     django-pagination
     django-crispy-forms
     django-registration
     django-model-utils
     djangorestframework
     markdown
     pyyaml
     django-filter
     django-guardian
     django-braces
     webtest
     django-webtest
     django-dynamic-fixture
     django-mailer
     django-datatables-view

wsgi = true
settings = settings
extra-paths = ${buildout:directory}/project/apps
              ${mailer:location}

[registration]
recipe = mercurialrecipe
repository = http://bitbucket.org/ubernostrum/django-registration/

[registration-1.5]
recipe = mercurialrecipe
repository = https://bitbucket.org/mrginglymus/django-registration

[mailer]
recipe = zerokspot.recipe.git
repository=https://github.com/pinax/django-mailer.git

[omlette]
recipe = collective.recipe.omelette
eggs = ${django:eggs}
