[buildout]
parts = django omlette mailer
unzip = true
versions = versions
extensions = mr.developer
auto-checkout = *

[versions]
psycopg2 = 2.4.1

[sources]
django = git https://github.com/django/django.git
django-registration = hg https://bitbucket.org/mrginglymus/django-registration
django-guardian = git https://github.com/restless/django-guardian.git

[django]
recipe = djangorecipe
project = project
eggs =
     Pillow
     ipython
     south
     easy_thumbnails
     django-debug-toolbar
     django-extensions
     django_compressor
     django-pagination
     django-crispy-forms
     django-registration
     djangorestframework
     markdown
     pyyaml
     django-filter
     django-guardian
     webtest
     django-webtest
     django-dynamic-fixture

wsgi = true
settings = settings
extra-paths = ${buildout:directory}/project/apps
              ${mailer:location}

[registration]
recipe = mercurialrecipe
repository = http://bitbucket.org/ubernostrum/django-registration/

[registration-1.5]
recipe = mercurialrecipe
repository = https://bitbucket.org/mrginglymus/django-registration

[mailer]
recipe = zerokspot.recipe.git
repository=https://github.com/jtauber/django-mailer.git

[omlette]
recipe = collective.recipe.omelette
eggs = ${django:eggs}
