{% load i18n %}<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% trans "Error occured" %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="ROBOTS" content="index, follow, all"/>
<meta http-equiv="pragma" content="no-cache"/>
</head>
<body>
  <center><p class="error-text">{% trans "We're sorry but a server error has occurred. We've been notified and will look into it as soon as possible." %}</p></center>
</body>
</html>