{% load i18n grontextual_tags theme_tags compress %}
<ul class="nav">
    {% if user.is_authenticated %}
        <li class="{% active request "^/dashboard/" %}"><a href="/"><i class="icon-th"></i> {% trans "Dashboard" %}</a></li>
    {% else %}
        <li class="{% active request "^/$" %}"><a href="/"><i class="icon-th"></i> {% trans "Home Page" %}</a></li>
    {% endif %}

    {% if user.is_authenticated %}
        {% if main_menu.bluusite %}
            <li class="divider-vertical"></li>

            {% with m_bluusite=main_menu.bluusite %}
                <li class="{% active request "^/sites/\d+/alerts/$" %}"><a href="{% url 'site_alerts:alert_list' m_bluusite.bluusite.pk %}"><i class="icon-warning-sign"></i> {% trans "Alerts" %}</a></li>
                {% if m_bluusite.show_devices %}
                    <li class="{% active request "^/sites/\d+/devices" %}"><a href="{% url 'site_devices:device_list' m_bluusite.bluusite.pk %}"><i class="icon-eye-open"></i> {% trans "Devices" %}</a></li>
                {% endif %}
                {% if m_bluusite.show_management %}
                    <li class="{% active request "^/sites/\d+/$" %}"><a href="{% url 'site_edit' m_bluusite.bluusite.pk %}"><i class="icon-th-list"></i> {% trans "Site management" %}</a></li>
                {% endif %}
            {% endwith %}

            <li class="divider-vertical"></li>
        {% endif %}

        {% if main_menu.bluusites %}
            <li class="{% active request "^/sites/$" %}"><a href="{% url 'site_list' %}"><i class="icon-home"></i> {% trans "Sites" %}</a></li>
        {% endif %}

        {% if main_menu.companies.company %}
            <li class="{% active request "^/companies/\d+/" %}"><a href="{% url 'company_edit' main_menu.companies.company.pk %}"><i class="icon-book"></i> {% trans "Company management" %}</a></li>
        {% elif main_menu.companies.companies %}
            <li class="{% active request "^/companies/" %}"><a href="{% url 'company_list' %}"><i class="icon-book"></i> {% trans "Companies" %}</a></li>
        {% endif %}

        {% if perms.accounts.browse_bluuusers %}
            <li class="{% active request "^/accounts/users/" %}"><a href="{% url 'bluuuser_list' %}"><i class="icon-user"></i> {% trans "Users" %}</a></li>
        {% endif %}
    {% endif %}
</ul>
<ul class="nav pull-right">
  {% if user.is_authenticated %}
      <li class="dropdown" id="auth-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#auth-menu"><i class="icon-user"></i> {{ user.get_name }}<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'account_edit' %}"><i class="icon-user"></i> {% trans "Account" %}</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'auth_logout' %}"><i class="icon-off"></i> {% trans "Sign out" %}</a></li>
        </ul>
      </li>
  {% else %}
      <li class="{% active request "^/accounts/login/$" %}"><a href="{% url 'auth_login' %}">{% trans "Sign in" %}</a></li>
  {% endif %}
</ul>
