{% load i18n guardian_tags theme_tags compress %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="Bluu" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}{% trans "Bluu Web" %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <!-- Le styles -->


    {% compress css %}
    <link href="{{ STATIC_URL }}theme/components/sass-twitter-bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}theme/components/sass-twitter-bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}theme/components/angular-ui/build/angular-ui.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}theme/css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}theme/css/oocss/core/module/mod.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}theme/components/chosen/chosen/chosen.css" rel="stylesheet">
    {% endcompress %}
    {% block css %}{% endblock %}

    <!--[if lte IE 8]>
    <script>
    // The ieshiv takes care of our ui.directives, bootstrap module directives and
    // AngularJS's ng-view, ng-include, ng-pluralize and ng-switch directives.
    // However, IF you have custom directives (yours or someone else's) then
    // enumerate the list of tags in window.myCustomTags
     
    //window.myCustomTags = [ 'yourDirective', 'somebodyElsesDirective' ]; // optional
    </script>
    <script src="{{ STATIC_URL }}theme/components/angular-ui/build/angular-ui-ieshiv.js"></script>
    <![endif]-->

    {% block head-javascript %}{% endblock %}

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}theme/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}theme/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}theme/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}theme/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}theme/ico/apple-touch-icon-57-precomposed.png">

    <script src="{{ STATIC_URL }}theme/components/modernizr/modernizr.js"></script>

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">
             <img src="{{ STATIC_URL }}theme/img/logo.png" alt="Bluu Web" title="Bluu Web" />
          </a>
          <div class="nav-collapse collapse">
            {% main_menu %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
            <div class="message-placeholder">
              {% if messages %}
                  {% for message in messages %}
                  <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} content-wrapper">
                    <button class="close" data-dismiss="alert">×</button>
                    {{ message }}
                  </div>
                  {% endfor %}
              {% endif %}
            </div>
            <div id="breadcrumbs">
                  {% block breadcrumbs %}
                  {% endblock %}
            </div>
            <div class="row content-body">
              {% block content %}Put some content here.{% endblock %}
            </div>
        </div>
      </div>
    </div> <!-- /container -->
      <footer class="footer">
        <div class="container">
            <p class="pull-right"><a href="http://bluusystems.com">Bluu Systems</a></p>
            <p>{% trans "By using this site you agree to the" %} <a href="/tos/" title="{% trans "Terms of Service" %}">{% trans "Terms of Service" %}</a></p>
            <p>&copy; {% copyright_date 2012 %} <a href="http://bluusystems.com">Bluu Systems</a></p>
        </div>
      </footer>
  <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% compress js %}
    <script src="{{ STATIC_URL }}theme/components/sass-twitter-bootstrap/docs/assets/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}theme/components/angular/angular.js"></script>
    <script src="{{ STATIC_URL }}theme/components/angular/angular-resource.min.js"></script>
    <script src="{{ STATIC_URL }}theme/components/angular-ui/build/angular-ui.min.js"></script>
    <script src="{{ STATIC_URL }}theme/components/chosen/chosen/chosen.jquery.js"></script>
    <script src="{{ STATIC_URL }}theme/js/ui-bootstrap-0.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}theme/js/ng/app.js"></script>
    <script src="{{ STATIC_URL }}theme/js/ng/services.js"></script>
    <script src="{{ STATIC_URL }}theme/js/ng/controllers.js"></script>
    <script src="{{ STATIC_URL }}theme/js/ng/filters.js"></script>
    <script src="{{ STATIC_URL }}theme/js/ng/directives.js"></script>
    {% endcompress %}
    {% block javascript %}{% endblock %}
    <script type="text/javascript">
      var STATIC_URL = '{{ STATIC_URL }}';
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1306485-18']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</body>
</html>
