{% load i18n guardian_tags theme_tags compress %}<!DOCTYPE html>
<html lang="en" ng-app="Bluu">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}{% trans "Bluu Web" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <!-- Le styles -->
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    {% compress css %}
    <link href="{{ STATIC_URL }}theme/components/bootstrap.css/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}theme/components/bootstrap.css/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}theme/components/angular-ui/build/angular-ui.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}theme/components/angular-grid/ng-grid.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}theme/css/style.css" rel="stylesheet">
    {% endcompress %}
    {% block css %}{% endblock %}

    <!--[if lte IE 8]>
    <script>
    // The ieshiv takes care of our ui.directives, bootstrap module directives and
    // AngularJS's ng-view, ng-include, ng-pluralize and ng-switch directives.
    // However, IF you have custom directives (yours or someone else's) then
    // enumerate the list of tags in window.myCustomTags
     
    //window.myCustomTags = [ 'yourDirective', 'somebodyElsesDirective' ]; // optional
    </script>
    <script src="{{ STATIC_URL }}theme/components/angular-ui/build/angular-ui-ieshiv.js"></script>
    <![endif]-->


    {% block head-javascript %}{% endblock %}

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}theme/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}theme/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}theme/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}theme/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}theme/ico/apple-touch-icon-57-precomposed.png">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1306485-18']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">
             <img src="{{ STATIC_URL }}theme/img/logo.png" alt="Bluu Web" title="Bluu Web" />
          </a>
          <div class="nav-collapse">
            <ul class="nav">
                <li class="{% active request "^/$" %}"><a href="/"><i class="icon-home icon-white"></i> {% trans "Home Page" %}</a></li>
                {% if user.is_authenticated %}
                    <li class="{% active request "^/accounts/companies/$" %}"><a href="{% url 'company_list' %}"><i class="icon-user"></i> {% trans "Companies" %}</a></li>
                    <li class="{% active request "^/accounts/sites/$" %}"><a href="{% url 'site_list' %}"><i class="icon-user"></i> {% trans "Sites" %}</a></li>
                    {% if perms.accounts.browse_bluuusers %}
                    <li class="{% active request "^/accounts/users/$" %}"><a href="{% url 'bluuuser_list' %}"><i class="icon-user"></i> {% trans "Users" %}</a></li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="nav pull-right">
              {% if user.is_authenticated %}
              <li class="dropdown" id="auth-menu">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#auth-menu"><i class="icon-user icon-white"></i> {{ user.email }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'account_edit' %}"><i class="icon-user"></i> {% trans "Account" %}</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url 'auth_logout' %}"><i class="icon-off"></i> {% trans "Sign out" %}</a></li>
                  </ul>
              </li>
              {% else %}
                <li class="{% active request "^/accounts/login/$" %}"><a href="{% url 'auth_login' %}">{% trans "Sign in" %}</a></li>
                {% comment %}<li class="{% active request "^/accounts/register/$" %}"><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></li>{% endcomment %}
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          {% if messages %}
              {% for message in messages %}
              <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} content-wrapper">
                <button class="close" data-dismiss="alert">×</button>
                {{ message }}
              </div>
              {% endfor %}
          {% endif %}
            <div id="breadcrumbs">
                  {% block breadcrumbs %}
                  {% endblock %}
            </div>
            <div class="content-body">
              {% block content %}Put some content here.{% endblock %}
            </div>
        </div>
      </div>
    </div> <!-- /container -->
      <footer class="footer">
        <div class="container">
            <p class="pull-right"><a href="http://bluusystems.com">Bluu Systems</a></p>
            <p>{% trans "By using this site you agree to the" %} <a href="#" title="{% trans "Terms of Service" %}">{% trans "Terms of Service" %}</a></p>
            <p>&copy; {% copyright_date 2012 %} <a href="http://bluusystems.com">Bluu Systems</a></p>
        </div>
      </footer>
  <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% compress js %}
    <script src="{{ STATIC_URL }}theme/components/bootstrap.css/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}theme/components/angular/angular.js"></script>
    <script src="{{ STATIC_URL }}theme/components/angular/angular-resource.min.js"></script>
    <script src="{{ STATIC_URL }}theme/components/angular-ui/build/angular-ui.min.js"></script>
    <script src="{{ STATIC_URL }}theme/components/angular-grid/ng-grid-1.6.3.js"></script>
    <script src="{{ STATIC_URL }}theme/components/angular-grid/plugins/ng-grid-flexible-height.js"></script>
    <script src="{{ STATIC_URL }}theme/js/ng/app.js"></script>
    <script src="{{ STATIC_URL }}theme/js/ng/services.js"></script>
    <script src="{{ STATIC_URL }}theme/js/ng/controllers.js"></script>
    <script src="{{ STATIC_URL }}theme/js/ng/filters.js"></script>
    <script src="{{ STATIC_URL }}theme/js/ng/directives.js"></script>
    {% endcompress %}
    <script type="text/javascript">
        var STATIC_URL = '{{ STATIC_URL }}';
    </script>



    {% block javascript %}{% endblock %}
</body>
</html>
