{% extends "base.html" %}
{% load i18n theme_tags %}

{% block content %}
<div class="admin-layout">
  <aside class="span3">
    {% block sidebar %}
    <div class="box">
      <ul class="nav nav-list">
          <li>dummy</li>
      </ul>
    </div>
    {% endblock sidebar %}
  </aside>
  <div class="span9">
    <div class="page-header content-wrapper">
        <h3>{% block page-title %}{% endblock page-title %}</h3>
    </div>
    {% block main %}{% endblock main %}
  </div>
</div>
{% endblock content %}
