{% extends "accounts/_cu_base.html" %}

{% load i18n theme_tags guardian_tags %}

{% block sidebar %}
{% get_obj_perms request.user for site as "site_perms" %}
    <div class="box">
      <ul class="nav nav-list">
        {% if "change_site" in site_perms %}<li class="{% active request "^/accounts/sites/\d+/$" %}"><a href="{% url 'site-edit' site.pk %}">{% trans "Site Details" %}</a></li>{% endif %}
        {% if "change_site" in site_perms %}<li class="{% active request "^/accounts/sites/\d+/access" %}"><a href="{% url 'site-access' site.pk %}">{% trans "Access management" %}</a></li>{% endif %}
        {% if "delete_site" in site_perms %}<li><a href="{% url 'site-delete' site.id %}" onclick="return confirm('{% trans "Are you sure you want delete this site?" %}')">{% trans 'Remove site' %}</a></li>{% endif %}
      </ul>
    </div>
{% endblock%}
