{% extends "bluusites/site_base.html" %}

{% load i18n crispy_forms_tags grontextual_tags theme_tags %}

{% block title %}
{% trans 'Manage room' %} |
{% endblock %}


{% block page-title %}
   {% trans "Manage room" %}
{% endblock %}

{% block main %}
{{ block.super }}
<div class="tab-content">
    <div class="tab-pane active" id="manage-room">
        <form name="update-room" class="form-horizontal" action="." method="post">{% csrf_token %}
            {% crispy form form.helper %}
        </form>
    </div>
</div>
{% endblock %}
