{% extends "bluusites/site_base.html" %}

{% load i18n crispy_forms_tags guardian_tags %}

{% block title %}
{% trans 'Site Access Management' %} |
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'site_list' %}">{% trans "Site list" %}</a> &gt; {% trans "Site Access Management" %}
{% endblock %}

{% block page-title %}
    {% trans "Site Access Management" %}
{% endblock %}

{% block main %}
{% get_obj_perms request.user for site as "site_perms" %}
<div ng-controller="SiteAccessController">
    <div class="gridStyle" ng-grid="AccessGridOptions"></div>

    {% if "change_site" in site_perms %}
    <div ng-controller="SiteInvitationController">
        <h2>{% trans "Invite user" %}</h2>
            <form class="form-inline">
                <input type="text" name="email" ng-model="site_access.email" placeholder="e-mail" />
                <select ng-model="site_access.groups" ng-options="group.name for group in groups"></select>
                <button type="submit" class="btn" ng-click="save()">{% trans "Add" %}</button>
            </form>
        <div class="gridStyle" ng-grid="InvitationGridOptions"></div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
var SITE_ID = {{ site.id }};
</script>
{% endblock %}

