{% extends "bluusites/_site_base.html" %}

{% load i18n %}

{% block title %}
{% trans 'Edit user' %} |
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'site_users' site.pk %}">{% trans "User list" %}</a> &gt; {% trans "Edit user" %}
{% endblock %}

{% block main %}
<h3 class="form-label">
    {% trans "Edit user" %}
</h3>

<form action="" method="POST">{% csrf_token %}
<table class="manage-form">
    {{ form.as_table }}
    <tr><td><input type="submit" value="{% trans 'Edit' %}" /></td></tr>
</table>
</form>
{% endblock %}
