{% extends "bluusites/_site_base.html" %}

{% load i18n %}


{% block title %}
{% trans 'List of users assigned to the site' %} |
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}theme/components/datatables/media/css/jquery.dataTables.css" />
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
<script src="{{ STATIC_URL }}theme/components/datatables/media/js/jquery.dataTables.js" language="javascript" type="text/javascript"></script>
<script charset="utf-8" type="text/javascript">
    $(document).ready(function() {
        $('#entity_list_table').dataTable( {
            "oLanguage": {
            "sProcessing":   "{% trans 'Processing...' %}",
            "sLengthMenu":   "{% trans 'Show _MENU_ entries' %}",
            "sZeroRecords":  "{% trans 'No matching records found' %}",
            "sInfo":         "{% trans 'Showing _START_ to _END_ of _TOTAL_ entries' %}",
            "sInfoEmpty":    "{% trans 'Showing 0 to 0 of 0 entries' %}",
            "sInfoFiltered": "{% trans '(filtered from _MAX_ total entries)' %}",
            "sInfoPostFix":  "",
            "sSearch":       "{% trans 'Search:' %}",
            "sUrl":          "",
            "oPaginate": {
                "sFirst":    "{% trans 'First' %}",
                "sPrevious": "{% trans 'Previous' %}",
                "sNext":     "{% trans 'Next' %}",
                "sLast":     "{% trans 'Last' %}"
            }
         },
         "sDom":'lfriptip',
         "aoColumnDefs": [
                { "bSortable": false, "aTargets": [3] }
            ]
    });
});

</script>
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'site-list' %}">{% trans "Contract list" %}</a> &gt;
    <a href="{% url 'site-edit' site.pk %}">{% trans "Contract" %}</a> &gt;
    {% trans "User list" %}
{% endblock %}

{% block main %}
    <h3 class="form-label">{% trans "Users list" %}</h3>

    <dl class="dl-horizontal">
        <dt>{% trans "Contract number" %}</dt>
        <dd>{{ site.pk }}</dd>
        <dt>{% trans "Contract signer" %}</dt>
        <dd>{{ site.first_name }} {{ site.middle_initial }} {{ site.last_name }}</dd>
    </dl>

    {% if perms.accounts.add_bluuuser %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'site-user-add' site.pk %}">{% trans "Add user" %}</a></li>
    </ul>
    {% endif %}

    {% if object_list %}
    <table id="entity_list_table" class="infotable datatable">
        <thead>
            <tr>
                <th>{% trans "No." %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Groups' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.get_name }}</td>
                <td>{{ user.get_groups }}</td>
                <td>
                    {% if perms.accounts.change_bluuuser %}<a href="{% url 'site-user-edit' site.pk user.pk %}">{% trans 'Edit' %}</a>{% endif %}
                    {% if perms.accounts.delete_bluuuser %}<a href="{% url 'site-user-delete' site.pk user.pk %}" onclick="return confirm('{% trans "Are you sure you want delete this user?" %}')">{% trans 'Remove' %}</a>{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        {% trans 'There are no users to display' %}
    {% endif %}
{% endblock %}
