{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}
{% trans 'Add site' %} |
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'site_list' %}">{% trans "Site list" %}</a> &gt; {% trans "Add site" %}
{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span2">&nbsp;</div>
  <div class="span8">
      <div class="page-header content-wrapper">
          <h1>{% trans "Add site" %}</h1>
      </div>
  </div>
  <div class="span2">&nbsp;</div>
</div>
<div class="row-fluid">
  <div class="span4">&nbsp;</div>
  <div class="span4">
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        {% crispy form form.helper %}
    </form>
  </div>
  <div class="span4">&nbsp;</div>
</div>
{% endblock %}
