@import "base";
@import "compass/css3/box-sizing";

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 1400px;
}

.admin-layout{
}

.box{
    margin: 10px;
}

footer{
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 70px 0;
}
