@import "base";
@import "compass/css3/box-sizing";

.gridStyle {
    //height: 1400px;
    height: 400px;
}

.ngFooterPanel{
    border: 0;
}

.ngGrid{
    background-color: transparent;
}

.ngRow{
    border: 0;
}

.ngCell{
    &:last-child{
        border-right: 0;
    }
}

form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}
form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.navbar {
    a.brand{
        padding: 5px 10px;
    }
}

.admin-layout{
}

.box{
    margin: 10px;
}

.box-heading{
    margin: 20px 15px;
}

footer{
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 70px 0;
}
