@import "base";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";

$twitter-media: "../components/sass-twitter-bootstrap/docs/assets";
$datatables-media: "../components/datatables/media";

.dataTables_wrapper .table td.center{
    text-align: center;
}

.gridStyle {
    //height: 1400px;
    height: 400px;
}

.ngFooterPanel{
    border: 0;
}

.ngGrid{
    background-color: transparent;
}

.ngRow{
    border: 0;
}

.ngCell{
    &:last-child{
        border-right: 0;
    }
}

form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}
form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.navbar {
    a.brand{
        padding: 5px 10px;
    }
}

.admin-layout{
}

.box{
    margin: 10px;
}

.box-heading{
    margin: 20px 15px;
}

footer{
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 70px 0;
}

/* highlight remove icon */
.datatable td:hover > a > [class^="icon-"],
.datatable td:hover > a > [class*=" icon-"] {
  background-image: url(#{$twitter-media}/img/glyphicons-halflings-white.png);
}
/* end highlight remove icon */

/* Access Management */
.inline-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.inline-box{
    float: left;
    margin: 1px 5px 0 0;
    padding: 2px 4px 1px
}

.clickable{
    cursor: pointer;
}

.box-on{
    color: #FFF;
    background-color: #0088CC; 
    border: 1px solid #0088CC; 
    @include border-radius(4px, 4px);
}

.box-off{
    color: #33BBFF;
    background-color: none; 
    border: 1px solid #33BBFF; 
    @include border-radius(4px, 4px);
}
/* End Access Management */


/* twitter bootstrap for datatables */
div.dataTables_length label {
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url(#{$datatables-media}/images/sort_both.png) no-repeat center right; }
table.table thead .sorting_asc { background: url(#{$datatables-media}/images/sort_asc.png) no-repeat center right; }
table.table thead .sorting_desc { background: url(#{$datatables-media}/images/sort_desc.png) no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url(#{$datatables-media}/images/sort_asc_disabled.png) no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url(#{$datatables-media}/images/sort_desc_disabled.png) no-repeat center right; }

/* end twitter bootstrap for datatables */
