{% extends "accounts/company_base.html" %}

{% load i18n %}

{% block title %}
{% trans 'Company Access Management' %} |
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'company-list' %}">{% trans "Company list" %}</a> &gt; {% trans "Company Access Management" %}
{% endblock %}

{% block main %}
<h3 class="form-label">
    {% trans "Company Access Management" %}
</h3>
<div ng-controller="CompanyAccessController">
    <div class="gridStyle" ng-grid="gridOptions"></div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}

