{% extends "accounts/company_base.html" %}

{% load i18n %}

{% block title %}
{% trans 'Company Details' %} |
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'company-list' %}">{% trans "Company list" %}</a> &gt; {% trans "Company Details" %}
{% endblock %}

{% block main %}
<h3 class="form-label">
    {% trans "Company Details" %}
</h3>

<form action="" method="POST">{% csrf_token %}
<table class="manage-form">
    {{ form.as_table }}
    <tr><td><input type="submit" value="{% trans 'Edit' %}" /></td></tr>
</table>
</form>
{% endblock %}
