{% extends "accounts/company_base.html" %}

{% load i18n %}

{% block title %}
{% trans 'Company Access Management' %} |
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'company-list' %}">{% trans "Company list" %}</a> &gt; {% trans "Company Access Management" %}
{% endblock %}

{% block main %}
<h1 class="form-label">
    {% trans "Company Access Management" %}
</h1>
<div ng-controller="CompanyAccessController">

    <div class="gridStyle" ng-grid="AccessGridOptions"></div>

    {% if perms.accounts.manage_company_access %}
    <div ng-controller="CompanyInvitationController">
        <h2>{% trans "Invite user" %}</h2>
            <form class="form-inline">
                <input type="text" name="email" ng-model="company_access.email" placeholder="e-mail" />
                <select ng-model="company_access.groups" ng-options="group.name for group in groups"></select>
                <button type="submit" class="btn" ng-click="save()">{% trans "Add" %}</button>
            </form>
        <div class="gridStyle" ng-grid="InvitationGridOptions"></div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
var COMPANY_ID = {{ company.id }};
</script>
{% endblock %}

