{% extends "accounts/_company_base.html" %}

{% load i18n crispy_forms_tags guardian_tags %}

{% block title %}
{% trans 'Company Access Management' %} |
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'company-list' %}">{% trans "Company list" %}</a> &gt; {% trans "Company Access Management" %}
{% endblock %}

{% block page-title %}
    {% trans "Company's Sites Management" %}
{% endblock %}

{% block main %}
{% get_obj_perms request.user for company as "company_perms" %}
<div ng-controller="CompanySitesController">
    <div class="gridStyle" ng-grid="CompanySitesGridOptions"></div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
var COMPANY_ID = {{ company.id }};
</script>
{% endblock %}

