{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans 'Add contract' %} |
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'contract-list' %}">{% trans "Contract list" %}</a> &gt; {% trans "Add contract" %}
{% endblock %}

{% block content %}
<h3 class="form-label">
    {% trans "Add contract" %}
</h3>

<form action="" method="POST">{% csrf_token %}
<table class="manage-form">
    {{ form.as_table }}
    <tr><td><input type="submit" value="{% trans 'Add' %}" /></td></tr>
</table>
</form>
{% endblock %}
