{% extends "base.html" %}

{% load i18n guardian_tags %}

{% block title %}
    {% trans 'User list' %} |
{% endblock %}

{% block content %}
    <div class="page-header content-wrapper">
        <h1 class="form-label">{% trans "User list" %}</h1>
    </div>

    {% if perms.accounts.add_bluuuser %}
    <ul class="nav nav-pills">
        <li><a href="{% url 'bluuuser_add' %}">{% trans "Add user" %}</a></li>
    </ul>
    {% endif %}

    {% if object_list %}
    <table id="user_list_table" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans 'No.' %}</th>
                <th>{% trans 'Username' %}</th>
                <th>{% trans 'Full name' %}</th>
                <th>{% trans 'E-mail' %}</th>
                <th>{% trans 'Is active' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5" class="dataTables_empty">{% trans "Loading data from server" %}</td> 
            </tr>
        </tbody>
    </table>
    {% else %}
        {% trans 'There are no users to display' %}
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% include "utils/_datatable_trans.html" %}
    <script src="{{ STATIC_URL }}theme/components/datatables/media/js/jquery.dataTables.js" language="javascript" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}theme/js/datatables-bootstrap-paging.js" language="javascript" type="text/javascript"></script>
<script charset="utf-8" type="text/javascript">
    $(document).ready(function() {
        $('#user_list_table').dataTable( {
            "oLanguage": DATATABLE_TRANS,
         "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
         "sPaginationType": "bootstrap",
         "bServerSide": true,
         "bProcessing": false,
         "sAjaxSource": "{% url 'bluuuser_list_json' %}",
         "aaSorting": [[2, 'asc']],
         "aoColumns": [
                {
                  "mData": 'no',
                  "bSearchable": false, 
                  "bSortable": false
                },
                { "mData": 'username'},
                { "mData": 'full_name'},
                { "mData": 'email'},
                { "mData": 'is_active'},
                {
                    "fnCreatedCell": function(nTd, sData, oData, iRow, iCol)
                    {
                        $(nTd).css('text-align', 'center');
                    },
                    "mData": "actions",
                    "bSearchable": false, 
                    "bSortable": false
                }
            ]
    });
});

</script>
{% endblock %}


