{% extends "base.html" %}

{% load i18n guardian_tags %}

{% block title %}
    {% trans 'User list' %} |
{% endblock %}

{% block content %}
    <div class="page-header content-wrapper">
        <h1 class="form-label">{% trans "User list" %}</h1>
    </div>

    {% if perms.accounts.add_bluuuser %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'bluuuser_add' %}">{% trans "Add user" %}</a></li>
    </ul>
    {% endif %}

    {% if object_list %}
    <table id="user_list_table" class="infotable datatable">
        <thead>
            <tr>
                <th>{% trans 'No.' %}</th>
                <th>{% trans 'Username' %}</th>
                <th>{% trans 'Full name' %}</th>
                <th>{% trans 'E-mail' %}</th>
                <th>{% trans 'Is active' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5" class="dataTables_empty">{% trans "Loading data from server" %}</td> 
            </tr>
        </tbody>
    </table>
    {% else %}
        {% trans 'There are no users to display' %}
    {% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}theme/components/datatables/media/css/jquery.dataTables.css" />
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
<script src="{{ STATIC_URL }}theme/components/datatables/media/js/jquery.dataTables.js" language="javascript" type="text/javascript"></script>
<script charset="utf-8" type="text/javascript">
    $(document).ready(function() {
        $('#user_list_table').dataTable( {
            "oLanguage": {
            "sProcessing":   "{% trans 'Processing...' %}",
            "sLengthMenu":   "{% trans 'Show _MENU_ entries' %}",
            "sZeroRecords":  "{% trans 'No matching records found' %}",
            "sInfo":         "{% trans 'Showing _START_ to _END_ of _TOTAL_ entries' %}",
            "sInfoEmpty":    "{% trans 'Showing 0 to 0 of 0 entries' %}",
            "sInfoFiltered": "{% trans '(filtered from _MAX_ total entries)' %}",
            "sInfoPostFix":  "",
            "sSearch":       "{% trans 'Search:' %}",
            "sUrl":          "",
            "oPaginate": {
                "sFirst":    "{% trans 'First' %}",
                "sPrevious": "{% trans 'Previous' %}",
                "sNext":     "{% trans 'Next' %}",
                "sLast":     "{% trans 'Last' %}"
            }
         },
         "sDom":'lfriptip',
         "bServerSide": true,
         "bProcessing": true,
         "sAjaxSource": "{% url 'bluuuser_list_json' %}",
         "aaSorting": [[2, 'asc']],
         "aoColumns": [
                {
                  "mData": 'no',
                  "bSearchable": false, 
                  "bSortable": false
                },
                { "mData": 'username'},
                { "mData": 'full_name'},
                { "mData": 'email'},
                { "mData": 'is_active'},
                {
                    "fnCreatedCell": function(nTd, sData, oData, iRow, iCol)
                    {
                        $(nTd).css('text-align', 'center');
                    },
                    "mData": "edit_url",
                    "mRender": function( data, type, full) {
                        return '<a href="' + data + '">{% trans "Edit" %}</a>';
                    },
                    "bSearchable": false, 
                    "bSortable": false
                }
            ]
    });
});

</script>
{% endblock %}


