{% load i18n theme_tags compress %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}{% trans "Bluu Web - login" %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,100' rel='stylesheet' type='text/css'>
    {% compress css %}
    <link href="{{ STATIC_URL }}theme/css/login.css" rel="stylesheet">
    {% endcompress %}

    {% compress js %}
    <script src="{{ STATIC_URL }}theme/components/jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}theme/components/modernizr/modernizr.js"></script>
    {% endcompress %}
</head>
<body>
<table width="100%" height="100%" border="0">
  <tr>
    <td>
    
    <table border="0" align="center" class="loginform">
        <tr>
        <td class="login-logo">
            <center><img src="{{ STATIC_URL }}theme/img/logo-login.png" align="middle" /></center>
        </td>
      </tr>
      <tr>
        <td>
        {% if form.errors %}
            <div class="alert alert-error">
            {% trans "Your username and password didn't match. Please try again." %}
            </div>
        {% endif %}

		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="id_username" name="username"  class="round-input" value="{% trans "Username" %}">
                </div>
            </div>
            
            <div class="control-group">
                <div class="controls">
                    <input type="password" name="password" id="id_password" class="round-input" value="{% trans "Password" %}">
                </div>
            </div>
            <div class="form-actions">
                <button class="loginbutton" type="submit">{% trans "Sign in" %}</button>
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        </td>
      </tr>
      <tr>
        <td>
             <div class="resetme">
               <center>
                    <a href="{% url 'django.contrib.auth.views.password_reset' %}">{% trans "Forgot password?" %}</a>
                </center>
            </div>
        </td>
      </tr>
      <tr>
        <td><br/><br/></td>
      </tr>
      <tr>
        <td class="copyrights">
            <p>{% trans "By using this site you agree to the" %} <a href="#" title="{% trans "Terms of Service" %}">{% trans "Terms of Service" %}</a></p>
            <p>&copy; {% copyright_date 2012 %} <a href="http://bluusystems.com">Bluu Systems</a></p>
        </td>
      </tr>
    </table>
    
    </td>
  </tr>
</table>

    <script type="text/javascript">
        $(document).ready(function(){ 			   
                var default_val = '';
                $('input[class^="round-"]').focus(function() {if($(this).val() == $(this).data('default_val') || !$(this).data('default_val')) {$(this).data('default_val', $(this).val());$(this).val('');}});
                $('input[class^="round-"]').blur(function() {if ($(this).val() == '') $(this).val($(this).data('default_val'));});	
        }); 
    </script>
</body>
</html>
