{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password change" %} | {% endblock %}

{% block content %}
<h1>{% trans 'Password change' %}</h1>
<div class="form-container vertical-space">
<p class="page-message">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}
<form action="" method="post" class="natcam-form">{% csrf_token %}
<table class="table-form">
   {% if form.new_password1.errors %}
    <tr>
        <td colspan="2">{{ form.new_password1.errors }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>
            <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>
        </td>
        <td>
            {{ form.new_password1 }}
        </td>
    </tr>

    {% if form.new_password2.errors %}
    <tr>
        <td colspan="2">{{ form.new_password2.errors }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>
            <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label></td>
        <td>{{ form.new_password2 }}</td>
    </tr>
    <tr><td colspan="2"><button type="submit" class="btn">{% trans 'Change my password' %}</button></td></tr>
</table>
<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form></div>
{% endblock %}
{% block portlets %}{% endblock %}
