{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %} | {% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span2">&nbsp;</div>
    <div class="span8">
      <div class="page-header content-wrapper">
          <h1>{% trans 'Password reset complete' %}</h1>
      </div>
      </div>
    <div class="span2">&nbsp;</div>
</div>
<div class="row-fluid">
    <div class="span4">&nbsp;</div>
    <div class="span4">
        <div class="well">{% trans "Your password has been set. You may go ahead and log in now." %}</div>
        <div>{% trans "Go to" %} <a href="{{ login_url }}">{% trans 'login page' %}.</a></div>
    </div>
    <div class="span4">&nbsp;</div>
</div>
{% endblock %}
