{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset successful' %} | {% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span2">&nbsp;</div>
    <div class="span8">
      <div class="page-header content-wrapper">
          <h1>{% trans 'Password reset successful' %}</h1>
      </div>
    </div>
    <div class="span2">&nbsp;</div>
</div>
<div class="row-fluid">
    <div class="span4">&nbsp;</div>
    <div class="span4">
        <div class="well">
        {% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}
        </div>
        <div>{% trans "Back to" %}: <a href="/">{% trans "Home Page" %}</a></div>
    </div>
    <div class="span4">&nbsp;</div>
</div>
{% endblock %}
