{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Forgotten password" %} | {% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span2">&nbsp;</div>
    <div class="span8">
      <div class="page-header content-wrapper">
          <h1>{% trans "Forgotten password" %}</h1>
      </div>
    </div>
    <div class="span2">&nbsp;</div>
</div>
<div class="row-fluid">
  <div class="span4">&nbsp;</div>
  <div class="span4">
  <p class="page-message">{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
  <form action="" method="post" class="form-horizontal">{% csrf_token %}
      {{ form|crispy }}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans 'Reset my password' %}</button>
      </div>
  </form>
  </div>
  <div class="span4">&nbsp;</div>
</div>
{% endblock %}
{% block portlets %}{% endblock %}
