{% load i18n crispy_forms_tags %}

<table class="alert_cfg">
  <tr>
    <td class="alert_header alert_params">
        <div class="description inner-left">
          <p>{% trans "Alert when time in bed exceeds" %}:&nbsp;</p>
        </div>
        <div class="config inner-right">
          {% crispy form form.helper %}
        </div>
    </td> 
    <td class="alert_header notifications">
      <div class="notification_wrapper">
        <div class="notification">{% trans "text"|capfirst %}<br>
          <input 
            type="checkbox"
            id="{{alert.id }}_text"
            ng-model="id_{{ alert.id }}_text"
            ng-change="alert('change all enabled alerts for this alert type');">
        </div>
        <div class="notification">{% trans "e-mail"|capfirst %}<br>
          <input 
            type="checkbox"
            id="{{alert.id }}_email" 
            ng-model="id_{{ alert.id }}_email"
            ng-change="alert('change all enabled alerts for this alert type');">
        </div>
      </div>
    </td>
  </tr>
  {% for device in devices %}
    <tr>
      <td colspan="2">
        <label class="checkbox block-left" 
               ng-click="set_alert({{ device.id }}, {{ alert.id }}, '{[{id_{{ alert.id }}_time}]}',
          '{[{id_{{ alert.id }}_unit}]}', {[{id_{{ alert.id }}_text}]}, {[{id_{{ alert.id }}_email}]});">
          <input type="checkbox" id="device_id">
          {{ device.name }}
        </label>
      </td>
    </tr>
  {% endfor %}
</table>

