{% extends "alerts/alerts_base.html" %}
{% load i18n crispy_forms_tags grontextual_tags theme_tags alert_tags %}

{% block title %}
    {% trans 'Alerts' %} |
{% endblock %}

{% block breadcrumbs %}
{% bluusites_breadcrumb %}<a href="{% url "site_edit" bluusite.pk %}">{{ bluusite.get_name }}</a> &gt; {% trans "Alerts" %}
{% endblock breadcrumbs %}


{% block page-title %}
    {% trans "Alerts" %}
{% endblock %}


{% block main %}
{{ block.super }}
{% get_uog_perms request.user for bluusite as "bluusite_perms" %}

<div ng-controller="AlertConfController">
{% for device_type in device_types %}
    {% if not forloop.counter|divisibleby:2 %}
    <div class="row-fluid box-row-fluid">
    {% endif %}
        <div class="box-span6 span6">
            {% alerts_for_device_type bluusite device_type %}
        </div>
    {% if forloop.counter|divisibleby:2 or forloop.last %}
    </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script charset="utf-8" type="text/javascript">
    var SITE_ID = {{ bluusite.id }};
    var USER_ID = {{ user.pk }};
  $(document).ready(function() {
    $('.device').change(function(event){
      var alert_cfg = $(this).parents('.alert_cfg');
      console.log($(alert_cfg));
      var notifications = $(alert_cfg).find('.notification');
      console.log(notifications);
      console.log(notifications.length);

            var text = notifications.find('input[name=text]')[0];
      var email = notifications.find('input[name=email]')[0];
      
      console.log($(this).attr('device_id'));
      console.log($(this).attr('alert_id'));

      console.log($(text).is(':checked'));
      console.log($(email).is(':checked'));

      //for (var i=0; i < notifications.length; i++){
      //}
      //set_alert(user, device, alert, duration, unit, text, email)
      //var scope = angular.element(dom_element).scope();
      //scope.set_alert(device, {{ alert.id }}, '', '', '', '', '{{ request.user.pk }}');
    }); 
  });
</script>
{% endblock %}


