{% extends "alerts/alerts_base.html" %}
{% load i18n crispy_forms_tags grontextual_tags theme_tags alert_tags %}

{% get_uog_perms request.user for bluusite as "site_perms" %}

{% block title %}
    {% trans 'Alerts' %} |
{% endblock %}

{% block breadcrumbs %}
    {% if perms.bluusites.change_bluusite or "change_bluusite" in site_perms %}
        {% bluusites_breadcrumb %}<a href="{% url "site_edit" bluusite.pk %}">{{ bluusite.get_name }}</a> &gt; {% trans "Alerts" %}
    {% else %}
        <a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a> &gt; {% trans "Alerts" %}
    {% endif %}
{% endblock breadcrumbs %}


{% block page-title %}
    {% trans "Alerts" %}
{% endblock %}


{% block main %}
{{ block.super }}

<div>
{% for device_type in device_types %}
    {% if not forloop.counter|divisibleby:2 %}
    <div class="row-fluid box-row-fluid">
    {% endif %}
        <div class="box-span6 span6">
            {% alerts_for_device_type bluusite device_type %}
        </div>
    {% if forloop.counter|divisibleby:2 or forloop.last %}
    </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script charset="utf-8" type="text/javascript">
  var SITE_ID = {{ bluusite.pk }};
  var USER_ID = {{ user.pk }};
  var SET_ALERT_CONFIG_URL = "{% url "site_alerts:user_alert_config_set" bluusite.pk %}";
  var SET_DEVICE_ALERT_URL = "{% url "site_alerts:user_alert_device_set" bluusite.pk %}";
  var SET_ROOM_ALERT_URL = "{% url "site_alerts:user_alert_room_set" bluusite.pk %}";

  $(document).ready(function() {

    $('.alert_config').change(function(event){
      // save alert configuration when changed
      var alert_cfg, data;
      alert_cfg = $(this).closest('.alert_cfg');
      data = Bluu.get_config_data(alert_cfg);

      Bluu.set_alert_config(USER_ID,
                            data.alert_id,
                            data.device_type_id,
                            data.duration,
                            data.unit,
                            data.text,
                            data.email)
    });

    $('.device').change(function(event){
      // set alert for device when device checked / unchecked
      var alert_cfg, data, device_id, checked;
      alert_cfg = $(this).closest('.alert_cfg');
      data = Bluu.get_config_data(alert_cfg);
      device_id = $(this).data('device_id');
      checked = $(this).is(':checked');

      Bluu.set_device_alert(checked,
                            USER_ID,
                            data.alert_id,
                            device_id,
                            data.duration,
                            data.unit,
                            data.text,
                            data.email)
    }); 

    $('.room').change(function(event){
      // set alert for room when room checked / unchecked
      var alert_cfg, data, room_id, checked;
      alert_cfg = $(this).closest('.alert_cfg');
      data = Bluu.get_config_data(alert_cfg);
      room_id = $(this).data('room_id');
      checked = $(this).is(':checked');

      Bluu.set_room_alert(checked,
                     USER_ID,
                     data.alert_id,
                     room_id,
                     data.duration,
                     data.unit,
                     data.text,
                     data.email)
    });
  });
</script>
{% endblock %}


