{% extends "companies/_company_base.html" %}

{% load i18n crispy_forms_tags guardian_tags %}

{% block title %}
{% trans 'Company Sites Management' %} |
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'company-list' %}">{% trans "Company list" %}</a> &gt; {% trans "Company Sites Management" %}
{% endblock %}

{% block page-title %}
    {% trans "Company Sites Management" %}
{% endblock %}

{% block main %}

{{ block.super }}

{% get_obj_perms request.user for company as "company_perms" %}
<div class="tab-content" ng-controller="CompanySitesController">
    <div class="tab-pane active" id="sites">
        <div >
            <div class="gridStyle" ng-grid="CompanySitesGridOptions"></div>
        </div>
    </div>
</div>
{% endblock %}

{% comment %}<ul id="sites-tab" class="nav nav-tabs">
    <li class="active"><a href="#sites" data-toggle="tab">{% trans "Sites" %}</a></li>
    <li><a href="#add-site" data-toggle="tab">{% trans "Add Site" %}</a></li>
</ul>
<div class="tab-content" ng-controller="CompanySitesController">
    <div class="tab-pane active" id="sites">
        <div >
            <div class="gridStyle" ng-grid="CompanySitesGridOptions"></div>
        </div>
    </div>
    <div class="tab-pane" id="add-site">
        <form name="newsite" novalidate class="form-horizontal" action="" method="post">{% csrf_token %}
        {% crispy form form.helper %}
        </form>
    </div>
</div>
{% endcomment %}

{% block javascript %}
<script type="text/javascript">
var COMPANY_ID = {{ company.id }};

</script>
{% endblock %}

