{% extends "base.html" %}

{% load i18n guardian_tags %}

{% block title %}
{% trans 'Company list' %} |
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}theme/components/datatables/media/css/jquery.dataTables.css" />
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
<script src="{{ STATIC_URL }}theme/components/datatables/media/js/jquery.dataTables.js" language="javascript" type="text/javascript"></script>
<script charset="utf-8" type="text/javascript">
    $(document).ready(function() {
        $('#entity_list_table').dataTable( {
            "oLanguage": {
            "sProcessing":   "{% trans 'Processing...' %}",
            "sLengthMenu":   "{% trans 'Show _MENU_ entries' %}",
            "sZeroRecords":  "{% trans 'No matching records found' %}",
            "sInfo":         "{% trans 'Showing _START_ to _END_ of _TOTAL_ entries' %}",
            "sInfoEmpty":    "{% trans 'Showing 0 to 0 of 0 entries' %}",
            "sInfoFiltered": "{% trans '(filtered from _MAX_ total entries)' %}",
            "sInfoPostFix":  "",
            "sSearch":       "{% trans 'Search:' %}",
            "sUrl":          "",
            "oPaginate": {
                "sFirst":    "{% trans 'First' %}",
                "sPrevious": "{% trans 'Previous' %}",
                "sNext":     "{% trans 'Next' %}",
                "sLast":     "{% trans 'Last' %}"
            }
         },
         "sDom":'lfriptip',
         "aoColumnDefs": [
                { "bSortable": false, "aTargets": [2] }
            ]
    });
});

</script>
{% endblock %}

{% block content %}
    <div class="page-header content-wrapper">
        <h1 class="form-label">{% trans "Company list" %}</h1>
    </div>

    {% if perms.companies.add_company %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'company_add' %}">{% trans "Add company" %}</a></li>
    </ul>
    {% endif %}

    {% if object_list %}
    <table id="entity_list_table" class="infotable datatable">
        <thead>
            <tr>
                <th>{% trans "No." %}</th>
                <th>{% trans 'Company name' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for company in company_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ company.name }}</td>
                <td>
                    {% get_obj_perms request.user for company as "company_perms" %}
                    {% if perms.companies.change_company or "change_company" in company_perms %}<a href="{% url 'company_edit' company.id %}">{% trans 'Edit' %}</a>{% endif %}
                    {% if perms.companies.delete_company or "delete_company" in company_perms %}<a href="{% url 'company_delete' company.id %}" onclick="return confirm('{% trans "Are you sure you want delete this company?" %}')">{% trans 'Remove' %}</a>{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        {% trans 'There are no companies to display' %}
    {% endif %}
{% endblock %}
