{% extends "companies/_company_base.html" %}

{% load i18n crispy_forms_tags guardian_tags %}

{% block title %}
{% trans 'Add site to company' %} |
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'company_list' %}">{% trans "Company list" %}</a> &gt;
        <a href="{% url 'company_site_list' company.id %}">{% trans "Company site list" %}</a> &gt;
            {% trans "Add site to company" %}
{% endblock %}


{% block page-title %}
   {% trans "Add site" %}
{% endblock %}

{% block main %}
{{ block.super }}
<div class="tab-content">
    <div class="tab-pane active" id="add-site">
        <form name="newsite" novalidate class="form-horizontal" action="." method="post">{% csrf_token %}
            {% crispy form form.helper %}
        </form>
    </div>
</div>
{% endblock %}
